@charset "UTF-8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #4e9c6c9d;
    height: 100vh;
    width: 100vw;
    
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #da594b url(../imagens/pexels-miguel-á-padriñán-2882566\ \(1\).jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 5px;
    
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    background-color: #da594b;
    display: block;
    width: 100%;
    height: 37px;
    border-radius: 5px;
    margin: 3px 0px;
    
}

div.campo > label {
    display: none;
}

.entrar {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #e44331e0;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
}

.entrar:hover {
    background-color: #94281ce0;
    cursor: pointer;
}

a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 7px;
    margin-top: 5px;
    background-color: white;
    color: #e44331e0;
    border: 1px solid #e44331e0;
    border-radius: 5px;
    text-decoration: none;

}

a.botao:hover {
    background-color: #ec877ce0;
}

a.botao > span {
    font-size: 0.8em;
}
